## Test Pipeline 

---

In [1]:
from cassandra_queries import *
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['127.0.0.1'])
    # To establish connection and begin executing queries, need a session
    session = cluster.connect()
    print('Cluster created')

except Exception as e:
    print(e)

Cluster created

In [2]:
# Connect to keyspace
try:
    session.set_keyspace('sparkify')
    print('Sparkify keyspace set')

except Exception as e:
    print(e)

Sparkify keyspace set

In [3]:
# Query for the artist, song title and song's length in the music app history that was heard during
# sessionId = 338, and itemInSession = 4
query = '''SELECT artist, song, length
           FROM table_2_3_1_1
           WHERE sessionId = 338 AND itemInSession = 4'''
try: 
    rows = session.execute(query)
    print('Query successful')

except Exception as e:
    print('\n')
    print(e)
    print('\n')

for row in rows:
    print(row)
#     print(row.artist, row.song, row.length)

Query successful
Row(artist='Faithless', song='Music Matters (Mark Knight Dub)', length=Decimal('495.3073'))

In [4]:
# Query for the name of artist, song (sorted by itemInSession) and user (first and last name) for 
# userid = 10, sessionid = 182
query = ('''SELECT artist, song, first_name, Last_name
            FROM table_2_3_2_2
            WHERE userId = 10 AND sessionId = 182
            ORDER BY itemInSession DESC
''')
try: 
    rows = session.execute(query)
    print('Query successful')

except Exception as e:
    print(e)

for row in rows:
    print(row)
#     print(row.artist, row.song, row.first_name, row.last_name)

Query successful
Row(artist='Lonnie Gordon', song='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', first_name='Sylvie', last_name='Cruz')
Row(artist='Sebastien Tellier', song='Kilometer', first_name='Sylvie', last_name='Cruz')
Row(artist='Three Drives', song='Greece 2000', first_name='Sylvie', last_name='Cruz')
Row(artist='Down To The Bone', song="Keep On Keepin' On", first_name='Sylvie', last_name='Cruz')

In [5]:
# Query for every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
query = ('''SELECT first_name, Last_name, song, userId
            FROM table_2_3_3_3
            WHERE song = 'All Hands Against His Own'
''')
try: 
    rows = session.execute(query)
    print('Query successful')

except Exception as e:
    print(e)

for row in rows:
    print(row)
#     print(row.first_name, row.last_name)

Query successful
Row(first_name='Jacqueline', last_name='Lynch', song='All Hands Against His Own', userid=29)
Row(first_name='Tegan', last_name='Levine', song='All Hands Against His Own', userid=80)
Row(first_name='Sara', last_name='Johnson', song='All Hands Against His Own', userid=95)

In [7]:
# Shutdown session and cluster
try:
    session.shutdown()
    cluster.shutdown()
    print('Seassion and cluster have been shutdown')
    
except Exception as e:
    print(e)

Seassion and cluster have been shutdown